<div>
  <div class="row mb-4 post">
    <div class="col-md-12">
      <h2 class="postTitle">{{title}}</h2>
      <p>{{text}}</p>
      <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
    </div>
  </div>
  <div>
      <form class="form new-comment-form" postId={{id}}>
      <div class="form-group">
        {{!-- <label for="comment-text">text:</label> --}}
        <textarea class="form-input" id="comment-text" name="comment-text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Comment</button>
      </div>
    </form>
  </div>
  <!-- Loop over each object in the posts array -->
  {{#each comments as |comment| }}
  <div class="row mb-4 comment" index={{@index}}>
    <div class="col-md-12">
      <p class="commentText">
        {{comment.comment}}
      </p>
      <p class="commentInfo">Posted by {{comment.user.username}} on </p>
    </div>
  </div>
  {{/each}}
</div>

<script src="/js/comment.js"></script>